<div class="text-center">
<h2>{{name}}</h2>
  <div class="col-md-6 project-list">
    <h3>I have a child!</h3>
    <div class="row mb-2">
        <li>Name: {{name}}</li>
        <li>Birthdate: {{birthdate}}</li>
        <li>(TODO)<a href="#">{{name}}'s ToDos</a></li>
        <li>(TODO)<a href="#">{{name}}'s TaDas</a></li>
    </div>

    </div>
  </div>
</div>