    <h1><i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;ToDos for {{name}}</h1>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h2><i class="fa fa-angle-double-down icon-cog-body" aria-hidden="true"></i>
        Developmental Milestones</h2>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{#if devMilestones.length}}
        <table class="table table-bordered table-sm w-100">
            <thead class="thead">
                <tr>
                    <th scope="col" class="col-8"><p class="xs-font">Milestone</p></th>
                    <th scope="col" class="col-4"><p class="xs-font">Anticipated Age Range</p></th>
                    <th scope="col" class="col-2"><p class="xs-font">Update</p></th>
                </tr>
            </thead>
            <tbody>
            {{#each devMilestones as |devMilestone|}}
                <tr>
                    <td><p class="xs-font"><i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;{{devMilestone.devMilestone}}</p></td>
                    <td><p class="xs-font">{{devMilestone.devMilestone_expectedRange}}</p></td>
                    <td><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#devModal{{devMilestone.id}}"><p class="xs-font"><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;TaDa</p></button></td>
                    {{!-- DEV MILESTONE MODAL STARTS HERE --}}
                    <div class="modal fade" id="devModal{{devMilestone.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{devMilestone.devMilestone}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times-circle icon-cog-body" aria-hidden="true"></i></button>
                            </div>

                            {{!-- UPDATE DEV MILESEONE MODAL HERE --}}
                            <div class="modal-body">
                                <form class="form update-dev-milestone-form">
                                    <div class="form-group">
                                        <label for="dev-milestone">When did your child complete this milestone?</label>
                                        <input class="form-input" type="date" id="dev-milestone" name="dev-milestone" />
                                    </div>
                                    </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-dark">Save changes</button>
                            </div>
                            </div>
                        </div>
                     </div>
                </tr>
            {{/each}}
        </table>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h2><i class="fa fa-angle-double-down icon-cog-body" aria-hidden="true"></i>
        Medical Milestones</h2>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        {{#if medMilestones.length}}

        <table class="table table-bordered table-sm w-100">
            <thead>
                <tr>
                    <th scope="col" class="col-8"><p class="xs-font">Milestone</p></th>
                    <th scope="col" class="col-4"><p class="xs-font">Anticipated Age Range</p></th>
                    <th scope="col" class="col-2"><p class="xs-font">Update</p></th>
                </tr>
            </thead>
            <tbody>
            {{#each medMilestones as |medMilestone|}}
                <tr>
                    <td><p class="xs-font"><i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;{{medMilestone.medMilestone}}</p></td>
                    <td><p class="xs-font">{{medMilestone.medMilestone_expectedRange}}</p></td>
                    <td><button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#medModal{{medMilestone.id}}"><p class="xs-font"><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;TaDa</p></button></td>
                    {{!-- MED MILESTONE MODAL STARTS HERE --}}
                    <div class="modal fade" id="medModal{{medMilestone.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{medMilestone.medMilestone}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            {{!-- UPDATE MED MILESEONE MODAL HERE --}}
                            <div class="modal-body">
                                <form class="form update-med-milestone-form">
                                    <div class="form-group">
                                        <label for="med-milestone">When did your child complete this milestone?</label>
                                        <input class="form-input" type="date" id="med-milestone" name="med-milestone" />
                                    </div>
                                    </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-dark">Save changes</button>
                            </div>
                            </div>
                        </div>
                     </div>
                </tr>
            {{/each}}
        </table>
        {{/if}}
      </div>
    </div>
  </div>
  <p class="text-right"><a href="/api/tadas/{{id}}"><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;View TaDas</a></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/momentjs.js"></script>
{{!-- <script src="/assets/utils/helpers.js"></script> --}}