    <h1>Tadas for {{name}}</h1>
        <h2>Developmental Milestones</h2>
        {{#if devMilestones.length}}
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Milestone</th>
                    <th scope="col">Date Completed</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
            {{#each devMilestones as |devMilestone|}}
                <tr>
                    <td><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;{{devMilestone.devMilestone}}</td>
                    <td>{{devMilestone.devMilestone_dateComplete}}</td>
                    <td>Update</td>
            {{/each}}
        </table>
        {{/if}}

        {{#if medMilestones.length}}

        <h2>Medical Milestones</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Milestone</th>
                    <th scope="col">Date Completed</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
            {{#each medMilestones as |medMilestone|}}
                <tr>
                    <td><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;{{medMilestone.medMilestone}}</td>
                    <td>{{medMilestone.medMilestone_dateComplete}}</td>
                    <td>Update</td>
            {{/each}}
        </table>

        {{/if}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/momentjs.js"></script>
{{!-- <script src="/assets/utils/helpers.js"></script> --}}
