<div class="text-center">
  <div>
  {{#if childs.length}}
    <h1>My Children</h1>
    {{!-- <div id ="newid">
    <button class="newclass" type="button">My button</button>
    </div> --}}
    <div class="row id" id="newid">
      {{#each childs as |child|}}
        <div class="col-sm-4">
          <div class="card">
            {{!-- <img src="" class="card-img-top" alt="..."> --}}
            <img src="{{child.profileImage}}" class="card-img-top" alt="{{child.name}} photo" id="imgid">
            
            <div class="card-body">
              <h2 class="card-title"><strong>{{child.name}}</strong></h5><br>  
              <p class="card-text">
                Born on <strong class="child-date">{{child.birthdate}}</strong>
                <br>Sex: {{child.gender}}
              </p>
              <a href="/api/todos/{{child.id}}" class="btn btn-light"><i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;ToDos</a>
              <a href="/api/tadas/{{child.id}}" class="btn btn-light"><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;TaDas</a>
              <a href="/api/children/{{child.id}}" class="btn btn-light"><i class="fa fa-cog icon-cog-body" aria-hidden="true"></i>&nbsp;Update Profile</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>


      {{!-- <div class="col-md-8">
        <li><strong>Name:</strong> {{child.name}}</li>
        <li><strong>Birthday:</strong> {{child.birthdate}}</li>
        <li><strong>View My Child: <a href="/api/children/{{child.id}}">Link</a></strong></li>
        <li><strong>TODO - <a href="/api/children/{{child.id}}">Link</a> to Todos</strong></li>
        <li><strong>TODO - <a href="/api/children/{{child.id}}">Link</a> to Tadas</strong></li>
      
        {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{child.id}}">DELETE</button> --}}
      {{!-- </div> --}}
      {{!-- </div> --}}
  {{else}}
  You don't currently have any children!

   <a href="/profile" class="btn btn-light btn-custom"><i class="fa fa-child icon-cog-body" aria-hidden="true"></i>&nbsp;Add a child from your profile</a>
  {{/if}}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/momentjs.js"></script>
{{!-- <script src="/assets/js/photo.js"></script> --}}


{{!-- <script src="assets/js/profile.js"></script> --}}