<div class="text-center">
  <div>
  {{#if childs.length}}
    <h1>My Children</h1>
    <div class="d-flex justify-content-center row id" id="newid">
      {{#each childs as |child|}}
        <div class="col-sm-4">
          <div class="card">
            <p class="text-center"><img src="{{child.profileImage}}" class="card-img-top rounded-circle square-img p-2" alt="{{child.name}} photo" id="imgid"></p>
            
            <div class="card-body">
              <h2 class="card-title"><strong>{{child.name}}</strong></h5><br>  
              <p class="card-text">
                Born on <strong class="child-date">{{child.birthdate}}</strong>
                <br>Sex: {{child.gender}}
              </p>
              <a href="/api/todos/{{child.id}}" class="btn btn-light"><i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;ToDos</a>
              <a href="/api/tadas/{{child.id}}" class="btn btn-light"><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;TaDas</a>
              <a href="/api/children/{{child.id}}" class="btn btn-light"><i class="fa fa-cog icon-cog-body" aria-hidden="true"></i>&nbsp;Update Profile</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
  You don't currently have any children!

   <a href="/profile" class="btn btn-light btn-custom"><i class="fa fa-child icon-cog-body" aria-hidden="true"></i>&nbsp;Add a child from your profile</a>
  {{/if}}
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/momentjs.js"></script>