    <h1><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;Tadas for {{name}}</h1>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h2><i class="fa fa-angle-double-down icon-cog-body" aria-hidden="true"></i>
Developmental Milestones</h2>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        
        {{#if devMilestones.length}}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><p class="xs-font">Milestone</p></th>
                    <th scope="col"><p class="xs-font">Date Completed</p></th>
                </tr>
            </thead>
            <tbody>
            {{#each devMilestones as |devMilestone|}}
                <tr>
                    <td><p class="xs-font"><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;{{devMilestone.devMilestone}}</p></td>
                    <td><strong class="child-date xs-font">{{devMilestone.devMilestone_dateComplete}}</strong></td>
            {{/each}}
        </table>
        {{/if}}      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h2><i class="fa fa-angle-double-down icon-cog-body" aria-hidden="true"></i>
        Medical Milestones</h2>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
{{#if medMilestones.length}}

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"><p class="xs-font">Milestone</p></th>
                    <th scope="col"><p class="xs-font">Date Completed</p></th>
                </tr>
            </thead>
            <tbody>
            {{#each medMilestones as |medMilestone|}}
                <tr>
                    <td><p class="xs-font"><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;{{medMilestone.medMilestone}}</p></td>
                    <td><strong class="child-date xs-font">{{medMilestone.medMilestone_dateComplete}}</strong></td>
            {{/each}}
        </table>

        {{/if}}      </div>
    </div>
  </div>
</div>
<p class="text-right"><a href="/api/todos/{{id}}"><i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;View ToDos</a></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/momentjs.js"></script>

