<div class="d-flex justify-content-center">
<div class="card text-center card w-75">

<p class="text-center"><img src="{{profileImage}}" class="card-img-top rounded-circle square-img p-2" alt="{{name}} photo" id="imgid"></p>

<h1>{{name}}</h1>
  <div>
    <h2>Profile Information</h2>

    <div class="card child-card"><p>

        Name: <strong>{{name}}</strong><br>
        Birthdate: <strong class="single-child-date">{{birthdate}}</strong>
        {{!-- INPUT FOR ID (PREFILLED) --}}
        <input type="text" value="{{id}}" id="child-id" name="child-id" hidden>
        </p>
        
        <button class="btn btn-light newclass" type="button" data-toggle="collapse" data-target="#uploadPhoto" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;Upload Profile Photo
        </button>
        <div class="collapse" id="uploadPhoto">
          <div class="card card-body">
            <form method="POST" action="/upload/{{id}}" enctype="multipart/form-data">
              <input type="file" name="image" />
              <input type="submit" />
            </form>  
          </div>
        </div>

      <button class="btn btn-danger delete-button">Delete Child</button>

    </div>
  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/assets/js/momentjs.js"></script>
<script src="/assets/js/photo.js"></script>
<script src="/assets/js/deletechild.js"></script>
