<div class="row">
  <div class="col-auto">
    <h1>Welcome, {{name}}!</h1>
    <h2>What should we <strong>celebrate</strong> today?</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    {{!-- <h3></h3>
    <p>My id is {{id}} and my email is {{email}}.</p> --}}

<p>
  <a href="/" class="btn btn-light btn-custom"><i class="fa fa-check-circle-o icon-cog-body" aria-hidden="true"></i>&nbsp;View Upcoming ToDos</a>
  <a href="/" class="btn btn-light btn-custom"><i class="fa fa-check-circle icon-cog-body" aria-hidden="true"></i>&nbsp;View Recent TaDas</a>
  <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#addChild" aria-expanded="false" aria-controls="collapseExample">
    <h2><i class="fa fa-child icon-cog-body" aria-hidden="true"></i>&nbsp;Add a New Child</h2>
  </button>
</p>
<div class="collapse" id="addChild">
  <div class="card card-body">
<h2>
    <form class="form new-child-form">
      <div class="form-group">
        <label for="child-name">Your Child's Name:</label>
        <input class="form-input" type="text" id="child-name" name="child-name" />
      </div>
      <div class="form-group">
        <label for="child-birthdate">Your Child's Birthdate:</label>
        <input class="form-input" type="date" id="child-birthdate" name="child-birthdate" />
      </div>
      <div class="form-group">
        Sex Assigned at Birth:<br>
        <input type="radio" id="female" name="gender" value="female">
        Female
        <input type="radio" id="male" name="gender" value="male">
        Male
        <input type="radio" id="male" name="gender" value="other">
        Other
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </form>  </div>
</div>

    {{!-- <h2><i class="fa fa-child icon-cog-body" aria-hidden="true"></i>&nbsp;Add a New Child</h2>
    <form class="form new-child-form">
      <div class="form-group">
        <label for="child-name">Your Child's Name:</label>
        <input class="form-input" type="text" id="child-name" name="child-name" />
      </div>
      <div class="form-group">
        <label for="child-birthdate">Your Child's Birthdate:</label>
        <input class="form-input" type="date" id="child-birthdate" name="child-birthdate" />
      </div>
      <div class="form-group">
        Gender
        <input type="radio" id="female" name="gender" value="female">
        Female
        <input type="radio" id="male" name="gender" value="male">
        Male
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-dark">Submit</button>
      </div>
    </form>
  </div> --}}

  {{!-- {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} --}}
</div>

<script src="assets/js/profile.js"></script>
